<!-- 
Note: To run the boilerplate code locally, the code must run it in a local web server, 
i.e., you cannot run from the file system (file://). This is becuase XMLHttp requests 
to file:// urls are disallowed by most browsers.
-->

<!--
=======================
SHIM REFERENCES
=======================
The references below are necessary to run locally, but are not part of the boilerplate which
should be copied to ServiceNow UI Pages
-->
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.js"></script>

<!-- 
=======================
AWA-MANAGED REFERENCES
=======================
* ServiceNow Boilerplate assumes that you are using the Accelerator for Web Apps (AWA)
* (available on Share here: http://j.mp/1qdBTIL) and that you pick 
* Bootstrap as your CSS Framework and AngularJS as your JavaScript framework.
* 
* The links below are needed to run your html and .js locally, but are typically managaed by 
* AWA once you move your pages onto a ServiceNow instance, so you won't copy 
* these into your UI Pages
-->
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/main.css" />
<script type="text/javascript" src="script/app.js"></script>


<!--
=====================================================================================
********************************* BEGIN BIOLERPLATE *********************************
=====================================================================================
Copy everything below to your UI Pages
-->

<!-- Bootstrap Requires JQuery -->
<g:requires name="scripts/lib/jquery_includes.js"/>
<!-- AWA doesn't automatically include the Bootstap javascript when you select it as a 
Css framework, so we are incluing it here. -->
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!-- Ensure that our app scales correctly on mobile devices -->
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

<!--
* Angular APP: app
-->
<div id="app" ng-app="app" class="container">

	<!-- Top Navigation -->
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	      <a class="navbar-brand" href="#">ServiceNow BoilerPlate</a>
	  </div>
	</nav>


	<!-- Application Tabs
	* Controller: TabController (as tabCtrl)
	* Controller controls visible tab via tabCtrl.selectTab() and tabCtron.selectedTab()
	-->
	<section ng-controller="TabController as tabCtrl">
		<!-- Tab Labels -->
		<ul class="nav nav-tabs">
			<li  ng-class="{ active: tabCtrl.isSelected('Dashboard') }">
				<a href="#" ng-click="tabCtrl.selectTab('Dashboard')">Dashboard</a>
			</li>
			<li ng-class="{ active: tabCtrl.isSelected('Customers') }">
				<a href="#" ng-click="tabCtrl.selectTab('Customers')">Customers</a>
			</li>
			<li ng-class="{ active: tabCtrl.isSelected('Tasks') }">
				<a href="#" ng-click="tabCtrl.selectTab('Tasks')">Tasks</a>
			</li>
		</ul>


		<!-- Dashboard Tab Content -->
		<div ng-show="tabCtrl.isSelected('Dashboard')">

			<!-- Display Incidents -->
		    <div ng-controller="IncidentController as incidentCtrl">
		        <div class="row">
		            <div class="col-xs-10 col-xs-push-1 well">
		                <ul class="list-group">
				            <li class="list-group-item" ng-repeat="incident in incidentCtrl.incidents">
				                {{incident.short_description}}
			                </li>
				        </ul>
		            </div>
		        </div>
		    </div>

		</div> <!-- Dashboard Tab Content -->


		<!-- Customers Tab Content -->
		<div ng-show="tabCtrl.isSelected('Customers')">
			<blockquote>Coming Soon...</blockquote>
		</div> <!-- Customers Tab Content -->


		<!-- Tasks Tab Content -->
		<div ng-show="tabCtrl.isSelected('Tasks')">
			<iframe id="service-catalog" frameborder="0" height="2100" scrolling="no" width="100%" allowtransparency="true" src="https://fenwaygroupdemo1.service-now.com/catalog_home.do?sysparm_view=catalog_default" border="0"></iframe>
		</div> <!-- Tasks Tab Content -->


	</section> <!-- Application Tabs-->

	


</div> <!-- /#app -->